.allarticels{
    margin-left:310px;
    margin-top:80px;
    padding:20px;
    background-color: #f9f9f9;
    color:#666;
    
}
.allarticels a:link,a:visited{
    text-decoration: none;
}

/* 每片文章的通用最外层的class类，用于左边距，上边距等 */
.articleheader{
    border-radius: 5px;
    background-color: rgb(40, 178, 139);
    padding: 25px 20px;
    display: flex;
    flex-flow:nowrap row;
    justify-content: space-between;

} 
.articleheader a:link,a:visited{
    
    color:#fff;
    text-decoration: none;
}
/* 每片文章的最头部绿色背景信息，用于上一篇，和下一片文章的切换链接 */
.articletitle h2{
    font-size: 1.5em;
    margin-top:2rem;
    margin-bottom:2rem;
    text-indent: 1em;
}
/* 每片文章的最大标题 */
.articlecatalog{
    margin-top:2rem;
    margin-bottom:2rem;

}
.articlecatalog ul{
    list-style: none;
    border-left:2px solid rgb(40, 178, 139);
    padding-inline-start:2rem;
}
.articlecatalog ul li{
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.articlecatalog a:link, .articlecatalog a:visited{
    color:#666;
    font-size: 0.9em;
}
.articlecatalog a:hover,.articlecatalog a:active{
    color:rgb(40, 178, 139);
}
/* 每片文章的导航内容 */
.articlestitle{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-indent: 1rem;
}
.articlecontent{
    font-size: 0.9em;
}
.articlecontent pre{
    background-color: rgba(30, 30, 30, 0.1);
    border-radius: 5px;
    /* display: block; */
    
}